*{
    margin: 0;
    padding: 0;
};
a{
    text-decoration: none;
    color:black;
};
input{
    outline:none;
    border:0 none;
};
ul li{
    list-style: none;   
};
body{
    background:#F9F9F9;
}
.container{
    margin:0 auto;
    width: 856px;
    height: 700px;

}
#xiaomi_register_page{
    min-width:856px;   
    #register_header{
        .container{
            background:#fff;
            span{
                
                font-size: 16px;
                line-height: 28px;
                color:#757575;
            };
            #xiaomi_logo{
                i{
                    display:block;
                    width: 48px;
                    height: 48px;
                    background:url('../img/xiaomi_sprite_sheet.png') no-repeat -300px 0;
                    margin:0 auto;
                    color:#B59DA9;
                }
            };
            h1{
                height: 64px;
                line-height: 64px;
                text-align:center;
                font-weight: normal;
            };
            #xiaomi_register{
                width: 440px;
                margin:0 auto;
                position:relative;
                i{
                    display:block;
                    width: 14px;
                    height: 18px; 
                    position:absolute; 
                };
                i:nth-of-type(1).register_sign{
                    background:url('../img/xiaomi_sprite_sheet.png') no-repeat -360px 0;
                    left: 2px;
                    top: 39px;
                };
                i:nth-of-type(2).register_sign{
                    background:url('../img/xiaomi_sprite_sheet.png') no-repeat -390px 0;
                    left: 1px;
                    top: 122px;
                };
                i:nth-of-type(3).register_sign{
                    background:url('../img/xiaomi_sprite_sheet.png') no-repeat -390px 0;
                    left: 1px;
                    top: 204px;
                };
                .judge_dv{
                    height: 26px;
                    line-height: 26px;
                    display:inline-block;
                    position:relative;
                    i{
                        display:block;
                        width: 18px;
                        height: 18px;
                        position:absolute;
                        left: 2px;
                        top: 6px;
                        margin-right: 5px;
                    }
                };
                .register_judge{
                    font-size: 12px;
                    height: 20px;
                    display:inline-block;
                    line-height: 20px;
                    margin-left: 22px;
                };
                input{
                    border: 1px solid #E8E8E8;
                    height: 42px;
                    color:black;
                    line-height: 42px;
                    padding-left: 20px;
                    width: 282px;
                    margin-bottom: 10px;
                };
                #register_psw{
                    margin-bottom:10px;
                }
                .register_code{
                    width: 130px;
                    height: 42px;
                    border: 1px solid #E8E8E8;
                    display:block;
                    float:left;
                };
                .psw_progess{
                    width:315px;
                    height: 12px; 
                    line-height: 12px ;             
                    position:relative;  
                    display:none;              
                    #psw_inner_progess{
                        display:inline-block;
                        // width: 105px;
                        height:12px;
                        border-radius:5px 5px;
                        // background:red;
                         
                    };
                    .error{
                        background:red;
                        width: 105px;

                    };
                    .middle{
                        background:yellow;
                        width: 210px;

                    };
                    .strong{
                        background:green;
                        width: 305px;

                    };
                    .psw_describe{
                        position:absolute;
                        top: 0px;
                        height:12px;
                        line-height: 12px;
                        display:inline-block;
                        left: 110px;
                        color:#000;
                        width: 80px;
                        font-size: 12px;

                    };

                };
                .register_random_code{
                    margin-left: 24px;
                    width: 140px;
                    height: 42px;
                    border: 1px solid #000;
                    display:block;
                    float:left; 
                    font-weight: bold;
                    line-height: 44px;
                    font-size: 30px;
                    text-align: center;
                    color:black;           
                };
                .verification_code{
                    height: 44px;
                    margin-bottom: 20px;
                    input{
                        margin-bottom: 0;
                    }                 
                }
                .change_verification_code{
                    font-size: 14px;
                    margin-left: 10px;
                    line-height: 44px;
                    &:hover{
                        color:#FF6700;
                        text-decoration:underline;
                    };
                }; 
                #register_btn{
                    width: 420px;
                    text-align: center;
                    height: 42px;
                    line-height: 42px;
                    background:#FF6700;
                    font-size: 14px;
                    color:#fff;
                    
                    margin-bottom: 20px;
                };
                #register_output{
                    /*display:none;*/
                    line-height: 32px;
                    font-size: 12px;
                    margin:10px 0;
                };
                p{
                    color:#9DA9C4;
                    /*padding-left: 5px;*/
                    font-size: 14px;
                    .register_check{
                        display:inline-block;
                        border-radius:50%;
                        width: 20px;
                        height:20px;
                        border: 1px solid #000;
                        vertical-align:middle;
                        position:relative;
                    };
                    span{
                        color:black;
                        font-size: 14px;
                        font-weight: bold;
                    }
                };

            };
        }

};


#register_footer{
    margin-top: 10px;
    .container{
        height: 80px;
        p{
            text-align: center;
            line-height: 32px;
            color:#757575;
            font-size:14px;            
        };
        p:nth-of-type(1) a{
            display:inline-block;
            height: 15px;
            padding:0 10px;
            color:#757575;
            font-size:14px;
            &:hover{
                color:black;
            }
        }
        i{
            display:inline-block;
            width: 18px;
            height: 20px;
            line-height: 32px;
            background:url('../img/xiaomi_sprite_sheet.png') -240px 0;       
        }

    }  
};


}

